.vkButton {
  background-color: #2786f3 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

  &:hover, &:focus {
    box-shadow: 0 0 10px rgba(39, 134, 243, 0.5);
  }
}

.vkIcon {
  margin-right: 2px;
  margin-bottom: 5px;
}
