@import "../../../styles/variables";

.main-container {
  background-color: $background-color;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: $header-height + 20px;
}

.layout {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
}

.content {
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.loginDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.breadcrumb {
  width: auto;
}
