.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.headerComponents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: raw;
  gap: 300px;
  margin-top: 10px;
}

.headerIcons {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
