.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Прозрачный белый фон */
  backdrop-filter: blur(10px); /* Размытие заднего фона */
  -webkit-backdrop-filter: blur(10px);
}

.headerComponents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: raw;
  gap: 300px;
  margin-top: 10px;
}

.headerIcons {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
