@import '../../../styles/variables';
.main-page {
  background-color: $background-color;
  height: 100vh;
  width: 100%;
}

.main-container {
  background-color: $background-color;
  height: calc(100% - $header-height);

  width: 100%;
  display: flex;
  justify-content: center;
}

.alert-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  position: relative;
  z-index: 0;
}

.right-sidebar,
.left-sidebar {
  position: sticky; // Оба сайдбара теперь sticky
  top: calc($header-height + 20px);
  height: fit-content;
}

.content {
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; // центральный контент будет занимать все доступное пространство
  min-width: 0;
  height: 100%;
}

.loginDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 300px;
}
