@import '../../../styles/variables';

.postWrapper {
  position: relative;
  z-index: 1;
}

.post {
  height: 50px;
  background-color: $container-color;
  display: flex;
  flex-direction: row;
  align-items: center;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.content {
  line-height: 25px;
  display: flex;
  flex-direction: column;
}
