.teamList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.commentListContainer {
  padding-bottom: 20px;
}

.spin {
  width: 100%;
  height: 60px;
  padding: 20px;
  align-self: self-start;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 20px 0;
}

.team-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  interpolate-size: allow-keywords;
  padding-top: 20px;
}
