// цвета
$primary-color: #1890ff;
$secondary-color: #8c8c8c;
$background-color: #f4f4f4;
$container-color: #fff;
$border-color: #f0f0f0;
$upload-empty-spaces: #e6f4ff;
// угол
$border-radius: 8px;
$header-height: 75px;
