@import '../../../styles/variables';
.postListContainer {
  height: 100%;
  width: 100%;
  overflow-anchor: auto;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: normal;
  float: left;
  interpolate-size: allow-keywords;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 4px;
  }
}

.filterContainer {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.spinner {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-left: auto;
  padding-right: auto;
}

.end {
  height: 50px;
  margin: 0px !important;
  width: 100%;
  border-color: rgb(140, 140, 140);
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}
