@import '../../../styles/variables';
.postListContainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-anchor: auto;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 3px;
  }
  overflow-wrap: normal;
  float: left;
  interpolate-size: allow-keywords;
}

.filterContainer {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.spinner {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-left: auto;
  padding-right: auto;
}

.end {
  height: 50px;
  margin: 0px !important;
  width: 100%;
  border-color: rgb(140, 140, 140);
}

.empty {
  padding-top: 25px;
}
