@import '../../../styles/variables';

.post {
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: $container-color;
  max-width: 768px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: $border-radius;
  margin-left: auto;
  margin-right: auto;
}

.postDetailed {
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: lighten($primary-color, 35%);
  max-width: 768px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: $border-radius;
  margin-left: auto;
  margin-right: auto;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}

.post-header-info {
  display: flex;
  flex-direction: column;
}

.popover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-header-info-text {
  display: flex;
  gap: 10px;
}

.post-header-buttons {
  display: flex;
  gap: 8px;
}

.post-time {
  margin-top: auto;
  margin-bottom: auto;
}

.post-name {
  margin-top: auto;
  margin-bottom: auto;
}

.post-reply-to {
  margin-bottom: 12px;
  font-size: 12px;
  color: $secondary-color;

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post-content {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-content-buttons {
  display: flex;
}

.post-content-attachments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.primaryText {
  color: $primary-color;
}

.post-author .post-time {
  margin: 7px;
}

.customDivider {
  margin: 10px 0;
}
