@import '../../../styles/variables';

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  padding-left: 25px;
  position: sticky;
  //top: 100px;
  height: fit-content;
}

.sidebar-options {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: $border-radius;
  margin-right: 10px;

  &:hover .sidebar-option {
    color: $primary-color;
  }
}

.sidebar-option-mode {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px;

  &:hover .sidebar-option {
    color: $primary-color;
  }
}

.icon-primary {
  color: $primary-color;
}

.active {
  background-color: rgba($primary-color, 0.1);
  color: $primary-color !important;
}

.button {
  width: 100%;
  justify-content: left;
}
