.comment-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comments-page > h1 {
  color: #d63b3b;
  font-size: 50px;
  margin-bottom: 16px;
}
