.comment-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
