.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.breadcrumb {
  margin-top: 20px;
  margin-left: 25vw;
  padding-left: 16px;
  .Post {
    cursor: pointer;
  }
}
