@import '../../../styles/variables';
.detailsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.postSection {
  height: 50px;
}

.commentsSection {
  height: calc(100% - 50px);
  min-width: 0;
  border-top: 1px solid #f0f0f0;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
