@import '../../../styles/variables';
.detailsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
}

.postSection {
  height: 69px;
}

.commentsSection {
  height: calc(100% - 69px);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
