.mainContainer {
}

.commentList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.commentListContainer {
  width: 100%;
  height: calc(100vh - 100px);
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 20px 0;
}
