@import '../../../styles/variables';

.container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-anchor: auto;
  overflow-wrap: normal;
  float: left;
  interpolate-size: allow-keywords;
}

.spinner {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-left: auto;
  padding-right: auto;
}

.end {
  height: 50px;
  margin: 0px !important;
  width: 100%;
  border-color: rgb(140, 140, 140);
}

.space {
  height: 20px;
}

.empty {
  padding-top: $header-height + 20px;
  width: 100%;
  height: 60px;
}
